* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

:root {
  --blue: #375067;
  --light-black: #393235;
  --dark-blue: #1b2d58;
  --border-btns: #334b69;
  --border-input: #e6e6e6;
}

.app {
  height: 100vh;
  background-color: #aaa;

  display: flex;
  justify-content: center;
  align-items: center;

}

.todo-container {
  width: 410px;
  padding: 15px;

  background-color: #fff;

  border-radius: 15px;
}


.add-component,
.search-component {
  padding: 15px;
  display: grid;
  gap: 10px;
  border-bottom: 2px solid #e6e6e6;
}

label {
  color: var(--light-black);
  font-size: 1.2rem;
  font-weight: 500;
  display: block;
}

.add-component #add-todo {
  padding: 5px;
  border: 2px solid var(--border-input);
  border-radius: 3px;
  margin-right: 5px;
  width: 200px;
  outline: none;
}

.add-component .add-btn,
.trash-btn {
  padding: 4px 10px;

  background-color: #fff;
  font-size: 1rem;

  border: 2px solid var(--dark-blue);
  cursor: pointer;

  font-weight: bold;

  transition: 0.5s ease-in-out all;
}

.add-component .add-btn:hover,
.trash-btn:hover {
  background: var(--dark-blue);
  color: #fff;
}


.search-component {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.search-component #search-input {
  padding: 5px;
  border: 2px solid var(--border-input);
  border-radius: 3px;
  outline: none;
  margin-right: 5px;
}

.search-component .filter {
  display: grid;
  justify-items: flex-end;

  border-left: 2px solid #e6e6e6;
  padding-left: 17px;
}